<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HFC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HFC.Properties.Settings.ITProConnectionString" connectionString="Data Source=(local);Initial Catalog=ITPro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HFC.Properties.Settings.ITProConnection" connectionString="Data Source=101.99.28.157;Initial Catalog=ITPro;Persist Security Info=True;User ID=itpro;Password=itpta"
            providerName="System.Data.SqlClient" />
        <add name="HFC.Properties.Settings.HRMExampleConnectionString"
            connectionString="Data Source=IT-PTA\PERFECT;Initial Catalog=HRMExample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <HFC.Properties.Settings>
            <setting name="aa" serializeAs="String">
                <value>-1</value>
            </setting>
        </HFC.Properties.Settings>
    </userSettings>
</configuration>